VIETMAP_API_KEY=
VIETMAP_TILEMAP_KEY=

BASE_URL=https://driving.map.zone
SEGMENT_URL=
SPEED_ALERT_API_KEY_ID=
SPEED_ALERT_API_KEY=
VEHICLE_ID=

# Config to release app
RELEASE_STORE_FILE=
RELEASE_STORE_PASSWORD=
RELEASE_KEY_ALIAS=
RELEASE_KEY_PASSWORD=
